{% extends "inicio.html" %}
{% load static %}

{% block content %}
<div class="perfil-container">
    <br><br><br><br><br>
    <h2>MI perfil</h2>
    <div class="separador-content">
        <span>BarberShop</span>
      </div>
    <dl>
        <dt>Nombre</dt>
        <dd>{{ user.first_name }}</dd>
        <dt>Apellido</dt>
        <dd>{{ user.last_name }}</dd>
        <dt>Correo Electronico</dt>
        <dd>{{ user.email }}</dd>
    </dl>
    <a href="/cambiar_contraseña">Cambiar contraseña</a>
</div>
{% endblock %}