{% extends "inicio.html" %}
{% load static %}

{% block content %}
  <br><br><br><br><br>

    <h1 class="title">NUESTROS <span class="highlight">SERVICIOS</span></h1>
    <div class="separador-content">
      <span>BarberShop</span>
    </div>
    <p class="p-servicios">Nuestra variedad de servicios para brindarte el mejor servicio.</p>
    <p class="p-servicios">Garantizamos excelencia y satisfacción.</p>

  <div class="card-container">
  <div class="card">
    <div class="card-inner">
      <div class="card-front">
        <img src="{% static 'images/icono1.jpg' %}" alt="Corte de cabello">
      </div>
      <div class="card-back">
        <h3>Corte de cabello</h3>
        <p>Corte, lavado y peinado de cabello, incluye aplicación de pomada a elección.</p>
        <span class="service-price">$16.000</span>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-inner">
      <div class="card-front">
        <img src="{% static 'images/icono2.jpg' %}" alt="Perfilado barba">
      </div>
      <div class="card-back">
        <h3>Perfilado barba</h3>
        <p>Arreglo de barba, toallas calientes, perfilado con navaja. Incluye aplicación de productos premium.</p>
        <span class="service-price">$14.000</span>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-inner">
      <div class="card-front">
        <img src="{% static 'images/icono3.jpg' %}" alt="Afeitado a ras">
      </div>
      <div class="card-back">
        <h3>Afeitado a ras</h3>
        <p>Toallas calientes, aplicación de crema/gel de afeitar, rasurado con navaja y after shave.</p>
        <span class="service-price">$14.000</span>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-inner">
      <div class="card-front">
        <img src="{% static 'images/icono4.jpg' %}" alt="Tratamiento facial">
      </div>
      <div class="card-back">
        <h3>Tratamiento facial</h3>
          <p>Limpieza, exfoliación, toallas calientes, mascarilla de carbón, loción protectora e hidratante.</p>
          <span class="service-price">$15.000</span>
      </div>
    </div>
  </div>
  </div>


{% endblock %}