{% extends "inicio.html" %}
{% load static %}

{% block content %}
<div class="sucursal-container">
    <br><br><br><br><br>
    <h1 class="title">NUESTRO <span class="highlight">LOCAL</span></h1>
    <div class="separador-content">
        <span>BarberShop</span>
      </div>
      <br>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d770.2036398901311!2d-72.77052023038895!3d-39.45092316266584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMznCsDI3JzAzLjMiUyA3MsKwNDYnMTEuNiJX!5e0!3m2!1ses-419!2scl!4v1731372150442!5m2!1ses-419!2scl" 
        width="700" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>


{% endblock %}